In [7]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\python38\lib\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\python38\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\python38\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\python38\lib\site-packages (from scikit-learn) (1.4.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\python38\lib\site-packages (from scikit-learn) (3.4.0)

In [8]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from sklearn.preprocessing import MinMaxScaler, StandardScaler
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = [[828, 920, 1234567, 1020, 1111],
            [824, 910, 2345612, 1090, 1234],
            [880, 900, 3456123, 1010, 1000],
            [870, 990, 2312123, 1001, 1122],
            [860, 980, 3223123, 1008, 1133],
            [850, 970, 2432123, 1100, 1221]]
data = np.float32(data)

In [ ]:
df = pd.DataFrame( data )
df

In [6]:
x_data = df.iloc[:,:-1]
y_data = df.iloc[:,[-1] ]

In [9]:
scaleF = MinMaxScaler()
x_dataN = scaleF.fit_transform( x_data )

In [15]:
x_dataN.shape

(6, 4)

In [13]:
scaleL = MinMaxScaler()
y_dataN = scaleL.fit_transform( y_data )

In [ ]:
dense = Dense( units=1, input_dim=4)
model = Sequential( [dense] )
model.compile( loss='mse', optimizer=Adam(0.1))
h = model.fit( x_dataN, y_dataN, epochs=500)

In [18]:
#828, 920, 1234567, 1020
xn = scaleF.transform( [[828, 920, 1234567, 1020]])
xn

array([[7.14281425e-02, 2.22222470e-01, 1.00739044e-08, 1.91919606e-01]])

In [20]:
p = model.predict( xn )
scaleL.inverse_transform( p )

1/1 [==============================] - 0s 19ms/step

array([[1122.8623]], dtype=float32)

In [17]:
df

       0      1          2       3       4
0  828.0  920.0  1234567.0  1020.0  1111.0
1  824.0  910.0  2345612.0  1090.0  1234.0
2  880.0  900.0  3456123.0  1010.0  1000.0
3  870.0  990.0  2312123.0  1001.0  1122.0
4  860.0  980.0  3223123.0  1008.0  1133.0
5  850.0  970.0  2432123.0  1100.0  1221.0